* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #3751E0);
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
}

.scene {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111425, #3751E0);
    background-attachment: fixed;
    overflow: hidden;
}

.scene .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto 30px;
    transition: 0.5s;
    z-index: 200000;
}

.scene .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;

}

.scene .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #ffffff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
}

.scene .box:hover::before, .scene .box:hover::after {
    transform: skewX(0deg);
    /* left: 20px; */
    width: calc(100% - 90px);
}


.scene .box:nth-child(2)::before, .scene .box:nth-child(2)::after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

.scene .box:nth-child(3)::before, .scene .box:nth-child(3)::after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

.scene .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

.scene .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animateBox 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 05);
}

.scene .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.scene .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animateBox 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 05);
    animation-delay: -1s;
}

.scene .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}

.scene .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #ffffff;
    text-align: center;
}

.scene .box:hover .content {
    /* left: -25px; */
    padding: 60px 40px;
}

.scene .box .content h2 {
    font-size: 23px;
    color: #ffffff;
    margin-bottom: 10px;
}

.scene .box .content img {
    max-width: 120px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.scene .box .content p {
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}

.scene .box .content a {
    display: inline-block;
    font-size: 1.1em;
    color: #111111;
    background: #ffffff;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    margin-top: 5px;
}

.moon {
    position: absolute;
    top: 100px;
    left: 400px;
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    border-radius: 50%;
    z-index: 1000;
}

.moon::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 15px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#111425, #3751E0);
    background-attachment: fixed;
}

.forest {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transform: scale(1.2);
}

.copyrigth {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1001;
    padding: 20px;
    color: #cccccc;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.scene i {
    position: absolute;
    background: #ffffff;
    border-radius: 50%;
    animation: animate linear infinite;
}

.cloud1 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    z-index: 10000;
    animation: animateCloud 50s linear infinite;
}

.cloud2 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 500px;
    z-index: 10000;
    animation: animateCloud 35s linear infinite;
}

.cloud3 {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 600px;
    z-index: 10000;
    animation: animateCloud 80s linear infinite;
}

.cloud4 {
    position: absolute;
    top: 200px;
    left: 0;
    max-width: 300px;
    z-index: 10000;
    animation: animateCloud 70s linear infinite;
    animation-delay: -20s;
}

.cloud5 {
    position: absolute;
    top: 150px;
    left: 0;
    max-width: 500px;
    z-index: 10000;
    animation: animateCloud 40s linear infinite;
    animation-delay: -5s;
}

.cloud6 {
    position: absolute;
    top: 75px;
    left: 0;
    max-width: 400px;
    z-index: 10000;
    animation: animateCloud 30s linear infinite;
    animation-delay: -10s;
}


/* animaciones */
@keyframes animateBox {
    0%, 100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

@keyframes animateCloud {
    0% {
        transform: translateX(-100%) scale(1);
    }

    100% {
        opacity: 0;
        transform: translateX(400%) scale(1.5);
    }
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    10%, 90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-100px);
    }
}

/* medias querys */

@media screen and (max-width: 768px) {
    .scene {
        overflow-y: auto;
    }

    .forest {
        width: 250%;
        bottom: -39px;
    }

    .copyrigth {
        bottom: -77px;
    }
}

@media screen and (max-width: 500px) {
    .scene {
        overflow-y: auto;
    }

    .scene .box {
        margin: 40px 30px;
    }

    .forest {
        width: 450%;
        bottom: -220px;
    }

    .copyrigth {
        bottom: -260px;
        justify-content: center;
    }

    .moon {
        left: 136px;
    }
}